body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 400px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}


.quiz-box {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.question {
    margin-bottom: 20px;
}


.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 12px;
}


.next-btn {
    width: 100%;
    padding: 10px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
